@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: theme('colors.background');
  color: theme('colors.text-dark');
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
